<!doctype html>
<html>
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <p style="text-align:center;" >
          Library Management System
         
        </p>
        <form action="/ ">
            <button >Logout</button>
            </form>
  </nav>

    
    <h3>Welcome {{user_name}}</h3><br>

    <h5>BOOK TAKEN<h5>
        <table class="table">
            {% for i in booktaken %}
               <tr>
                    <th scope="col"> {{ i.id }} </th>
                    <td>{{ i.book_name }} </td>
                    <td> {{ i.author_name}} </td>
               </tr>
            {% endfor %}
        </table><br>
    <h5>AVAILABLE BOOKS</h5>
        <table class="table">
        {% for i in available %}
               <tr>
                    <th scope="col"> {{ i.id }} </th>
                    <td> {{ i.book_name }} </td>
                    <td> {{ i.author_name}} </td>
               </tr>
            {% endfor %}    
        </table>    
 </body>
</html>   